@font-face {
  font-family: "Monument";
  font-weight: 400;
  font-style: normal;
  src: url("./MonumentExtended-Regular.otf") format("opentype");
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  font-style: normal;
  src: url("./NotoSansKR-VariableFont_wght.ttf") format("ttf");
}
