.statusBar_container {
  width: 100%;
  height: 48px;
  background-color: black;
  display: flex;
  align-items: center;
  .statusBar_event {
    margin: 0;
    margin-left: 30px;
    color: white;
    font-size: 15px;
    font-family: NotoSansKR;
    font-weight: bold;
  }
}
